<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>
      <div class="user">
          <header class="user__header">
              <img src="https://cdn0.iconfinder.com/data/icons/symbols-symbols-add-on-3-vol-1/48/v-06-512.png" alt="" />
              <h1 class="user__title">Instagram Reverse Search</h1>
          </header>

          <form class="form">
              <div class="form__group">
                  <input type="text" placeholder="Username" class="form__input" />
              </div>

              <button class="btn" type="submit">Search</button>
          </form>
      </div>
</html>
