<!DOCTYPE html>
<html>
  <head>
    <title>InstaReverse</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>
      <div class="user">
          <header class="user__header">
              <img src="/static/reverse2.png" alt="" />
              <h1 class="user__title">InstaReverse</h1>
          </header>

          <form class="form" action="/results" method="GET">
              <div class="form__group">
                  <input name="username" type="text" placeholder="Username" class="form__input" />
              </div>

              <button class="btn" type="submit">Search</button>
          </form>
      </div>
</html>
